.movie-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: azure;
    padding: 50px 0 50px 0;
}



.movie-form-container {

}

.movie-form {
    width: 300px;
    background: whitesmoke;
}

.input {
    width: 300px;
    padding: 5px 10px;
    border: solid black 2px;
}